# */private/
# */contest code/

# Ignore "private" and "contest code" folders in each module
setup/

Module 1/private/
# Module 1/contest code/
Module 2/private/
# Module 2/contest code/
Module 3/private/
# Module 3/contest code/
Module 4/private/
# Module 4/assignment code/
# Module 4/contest code/
Module 5/private/
# Module 5/assignment code/
# Module 5/contest code/
Module 6/private/
# Module 6/assignment code/
# Module 6/contest code/
Module 7/private/
# Module 7/assignment code/
# Module 7/contest code/
Module 8/private/
# Module 8/assignment code/
# Module 8/contest code/
Module 9/private/
# Module 9/assignment code/
# Module 9/contest code/
Module 10/private/
Module 10/assignment code/
Module 10/contest code/
Module 11/private/
Module 11/assignment code/
Module 11/contest code/
Module 12/private/
Module 12/assignment code/
Module 12/contest code/
Module 13/private/
Module 13/assignment code/
Module 13/contest code/
Module 14/private/
Module 14/assignment code/
Module 14/contest code/
Module 15/private/
Module 15/assignment code/
Module 15/contest code/
Module 16/private/
Module 16/assignment code/
Module 16/contest code/
Module 17/private/
Module 17/assignment code/
Module 17/contest code/
Module 18/private/
Module 18/assignment code/
Module 18/contest code/
Module 19/private/
Module 19/assignment code/
Module 19/contest code/
Module 20/private/
Module 20/assignment code/
Module 20/contest code/
